.top {
  margin-top: 500px;
  z-index: 2;
}

.top-title {
  font-family: $mainFont;
  font-weight: 900;
  font-size: 288px;
  line-height: 1.26;

  color: $backgrounTitleColor;

  margin-top: 0;
  margin-bottom: 21px;

  width: max-content;
}

.top-text {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: $backgrounTextColor;
  margin-top: 0;
  margin-left: auto;
  width: 393px;

  z-index: -2;
}

.top-magazine {
  position: absolute;
  display: flex;
  margin-top: 215px;
}

.top-magazine__item:not(:last-child) {
  width: 405px;
  height: 520px;
  box-shadow: 0px 17px 120px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;

  &:not(:last-child) {
    margin-left: 20px;
  }

  &:nth-child(2n) {
    margin-top: 100px;
  }
}

.top-price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 24px;
  margin-right: 24px;
}

.top-price__text {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: $titleColor;
}
