.newitems {
  position: absolute;
}

.neitems-description {
  position: relative;
  margin-right: 275px;
  z-index: -1;
}

.newitems-title {
  font-family: $mainFont;
  font-weight: 900;
  font-size: 288px;
  line-height: 1.26;
  color: $backgrounTitleColor;
  margin-top: 0;
  margin-bottom: 21px;
}

.newitems-text {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: $backgrounTextColor;
  margin-top: 0;

  width: 393px;
}
.newitems-magazine {
  position: absolute;
  display: flex;
}

.newitems-magazine__item:not(:first-child) {
  max-width: 405px;
  height: 510px;
  box-shadow: 0px 17px 120px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-top: 215px;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:nth-child(2n + 1) {
    margin-top: 290px;
  }
}

.newitems-magazine__item:first-child {
  margin-top: 60px;
}

.newitems-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 24px;
  padding-right: 24px;
}
